#avatar {
    border-radius: 50%;
}

body {
    background-color: #eaf6f6;
}

hr {
    border-top-style: dotted;
    border-left-style: none;
    border-right: none;
    border-bottom: none;
    border-width: 10px;
    width: 5%;
}